/* --------GENERALES--------- */
html{
   /* background-color: rgb(228, 228, 228);*/
   font-family: XXX;
}
body{
    font-size: medium;
}
p{
    line-height: 2.0;
}
table{ 
    width: 100%;
}

h2{
    text-align: center;
}

/* --------TITULOS--------- */

.titulo{
    background-color: black;
    height: fit-content;
    color: white;
    border-radius: 5px;
}

.tituloSeccion{
background-color:rgb(58, 58, 58);
height:fit-content;
text-align:center;
padding-left: 20px;
color: white; 
font-size:medium;
border-radius: 5px;

}

/* --------NAVEGACION--------- */

nav{
    text-align: center;
    font-size:110%;
    font-weight: bolder;
    padding-top: 5px;
}
nav td{
    margin: 2px;
}
td.contenidos{
    background: grey;
    margin-right: 5px;
    height: 50px;
    border-radius: 5px;
}

/* --------PARRAFO--------- */

.parrafo{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.parrafoimagen{
    text-align: center;
}
/*
#puno{
    color: red;
}

#pdos{
    text-shadow:1px 1px 8px blueviolet; /* offset-x | offset-y | blur-radius | color 
}

#ptres{
    border: solid 5px blue;
}
*/
/* --------IMAGENES--------- */

.banner{
    width:100%;
}

#imagen1{
    width: 50%;
}

#imagen2{
    height: 300px;
}

#imagen3{
    width:350px;
    float: inline-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#imagen4{
    width: 300px;
    float: inline-start;
    padding: 20px; 
    padding-bottom: 0px;
}

#imagen5{
    width: 40%;
}

#imagen6{
    width: 30%;
    float: inline-start;
    padding: 20px; 
    padding-bottom: 0px;
}

#imagen7{
    height: 200px;
    padding-top: 20px;
}

#imagen8{
    width:30%;
    float: inline-start;
    padding-right: 10px; 
    margin-bottom: 0px;
}

#imagen9{
    width:500px;
}

/* --------BOTONES--------- */
.botonizq, .volver{
    text-align: left;
    padding-left: 20px;
}

.botoncent{
    text-align: center;
    padding-left: 20px;
}

.inputBoton{
    font-size: medium;
}

/* --------LISTAS E INDICES--------- */

ul{
    line-height: 2.0;
    font-size: medium; 
    text-align: justify;
}

#listaJuegosSpectrum{
    line-height: 3;
}

#listaFormulario{
    list-style-type: none;
}

.indice{
    font-size: medium;
    line-height: 2.0;
    padding-left: 30px;
}
.indice td:first-child{
    text-align: right;
}

.indice td{ /* si cada td de la tabla tuviese la id de indice, podria poner td.indice */
    width: 50%;
}

/* --------TABLAS--------- */
#tablaCommodore table{
    border: solid 1px;
    width: 100%;
    font-size: larger;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
}

#tablaCommodore{
    padding: 20px;
}

#tablaCommodore thead{
    background-color: #333;
    color: white;
    height: 40px;
    padding: 10px;
}

#tablaCommodore td{
    border: solid 1px;
    padding: 10px;
}

legend{
    border: solid black 2px;
    background-color: rgb(232, 154, 232);
}

.leyenda {
    margin: 2px;
}
/*
#leyendaTabla{
    background-color: rgb(164, 235, 158);
}*/

/* --------FORMULARIO--------- */
.formulario{
    margin-right: 10px;
    margin-top: 10px;
}

.formulario2{
    margin-left: 10px;
}

.casillaNum{
    width: 40px;
}

#introFormulario::first-letter{
    color: yellow;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(224, 48, 224);
    font-size: xx-large;
}

/* --------LINKS--------- */

a:link { 
    color: blue;
    text-decoration: none;
}

a:visited { 
    color: purple;
    text-decoration: none;
}

a.contenidos:visited { 
    color: white;
    text-decoration: none;
}

a.contenidos:link{
    color:white;
    text-shadow: 1px 1px 10px black; 
    text-decoration: none;
}

/* a.contenidos:hover{
    background-color:black;
    border-radius: 5px;
    padding: 5px;
} */

/* --------COPY--------- */

.copy{
    text-align: center;
    margin-top: 0%;
}
